{% extends 'base.html' %} {% block content %}


<h3>Add Code</h3>
<div class="row">
    <form action="{{url_for('new_code') }}" method="POST" class="col s12">

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="model" name="model" type="text">
                <label for="icon_prefix">Model</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="type_of_algorithm" name="type_of_algorithm" type="text">
                <label for="icon_prefix">Type of Algorithm</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="complexity" name="complexity" type="text">
                <label for="icon_prefix">complexity</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="learning_method" name="learning_method" type="text">
                <label for="icon_prefix">learning_method</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="preprocessing" name="preprocessing" type="text">
                <label for="icon_prefix">preprocessing</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Code
             </button>
        </div>
    </form>
</div>


{% endblock %}
