{% extends 'base.html' %} {% block content %}


<h3>Add Code</h3>
<div class="row">
    <form action="{{url_for('new_code') }}" method="POST" enctype="multipart/form-data" class="col s12">

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="model" name="model" type="text">
                <label for="icon_prefix">Model</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="type_of_algorithm" name="type_of_algorithm">
                  <option value="" disabled selected>Choose Category</option>
                  {% for category in categories %}
                      <option value={{category.type_of_algorithm}}>{{category.type_of_algorithm}}</option>
                  {% endfor %}
                </select>
                <label>Type</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="complexity" name="complexity" type="text">
                <label for="icon_prefix">complexity</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="learning_method" name="learning_method" type="text">
                <label for="icon_prefix">learning_method</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="preprocessing" name="preprocessing" type="text">
                <label for="icon_prefix">preprocessing</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="form-group">
                    <input type="file" name="inputFile">
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">ADD FILE
             </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}
