{% extends 'base.html' %}
{% block content %}

     <div class="card">
        <div class="card-action">
            Available Codes
        </div>
        <div class="card-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Model Name</th>
                            <th>Type of Estimator</th>
                            <th>Complexity</th>
                            <th>Learning Method</th>
                            <th>Required Preprocessing</th>
                        </tr>
                    </thead>
                    {% for data in codes%}
                    <tbody>
                        <tr class="odd gradeX">
                            <td>{{data.model}}</td>
                            <td>{{data.type_of_algorithm}}</td>
                            <td>{{data.complexity}}</td>
                            <td class="center">{{data.learning_method}}</td>
                            <td class="center">{{data.preprocessing}}</td>
                            <td class="center">
                                <a href="{{url_for('add_request')}}" class="waves-effect waves-light btn btn_small">ADD</a>
                            </td>
                            <td class="center">
                                <a href="" class="waves-effect waves-light btn btn_small">Edit</a>
                            </td>
                            <td class="center">
                                <a href="" class="waves-effect waves-light btn btn_small">Delete</a>
                            </td>    
                                
                        </tr>
                    </tbody>
   
                    {% endfor%}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
